<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset='UTF-8'/>
    <meta content='Content-type: text/html; charset=UTF-8' name='http-equiv'/>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'/>
    <meta
            content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'
            name='viewport'/>
    <style>
        body {
            color: #555;
            font-family: "NanumBarunGothic"
        }
    </style>
</head>
<body>
<div>
    <h1>HTML을 PDF로 변환 샘플 페이지</h1>
    <p>한글을 표현하려면 한글이 포함된 폰트를 사용해야 하며</p>
    <p>PdfGenerator에 사용한 폰트를 등록해줘야 한다.</p>
</div>
</body>
</html>